<% javascript 'chat_show.js' %>
<table class="table table-striped">
    <tbody>
    	<%= @cookies %> 
<% for i in 1..@chat.pesan.count %>
 <tr>
    <td>
<% if (i%2==0)  %>
	<img src="/img/user.png" style="float:left;"><%= 'CS : ' %>
<% else %>
	<img src="/img/usergroup.png" style="float:left;"><%= 'You : ' %>
<% end %>
<%= @chat.pesan["#{i}"]  %>
	</td>
</tr>			
<% end %>
 </tbody>
</table>
<% if @scroll=='down' %>
<script>
window.location = "#down";
</script>
<% end %>
<div id="down"></div>