// Place all the styles related to the chat controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.chat .tampil{
	border:1px solid #ccc;
	width:100%;
	height:400px;
	padding:10px;
	overflow-y:scroll;

}
.chat .pesan{
	width:100%;
	height:40px;
	padding:5px;
	margin-top:5px;
}