// Place all the styles related to the chat controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.chat .tampil{
	background: #fff;
	color: #20282b;
	font-size: 14px;
	border:1px solid #ccc;
	width:100%;
	height:400px;
	padding:10px;
	overflow-y:scroll;

}
#tentang{
	padding-top:60px;
}
.chat .pesan{
	width:100%;
	height:40px;
	padding:5px;
	margin-top:5px;
}
#chat{
	height:600px;
}
footer{
	align:center;
	margin: 5px;
		color: #fff;

}